@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.banner {
  background-color: #fff8f3;
  padding-top: 50px;
}
nav {
  width: 71%;
  max-width: 1140px;
  height: 65px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h2 {
  font-size: 45px;
  font-weight: 900;
}
.r {
  color: #fd6e0a;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 51px;
}
nav ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #474747;
}
.btn {
  background-color: #fd6e0a;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}
nav ul li button {
  padding: 18px 35px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
