@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.banner {
  background-color: #fff8f3;
  background-image: url('images/developer.png'), url("images/header_bg.png");
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  padding-top: 50px;
}
nav {
  width: 71%;
  max-width: 1140px;
  height: 65px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h2 {
  font-size: 45px;
  font-weight: 900;
}
.r {
  color: #fd6e0a;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 51px;
}
nav ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #474747;
}
.btn {
  background-color: #fd6e0a;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
nav ul li button {
  padding: 18px 35px;
  font-size: 20px;
  font-weight: bold;
}
nav ul li button:hover {
  background-color: #e85c00;
}
#hero {
  margin: 47px 38px 0px 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hero .hero-text {
  max-width: 585px;
}
#hero .hero-text h2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
  width: 177px;
  text-align: justify;
}
#hero .hero-text h1 {
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
#hero .hero-text p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}
#btn1 {
  padding: 18.5px 17px;
}
#btn1:hover {
  background-color: #e85c00;
}
#btn2 {
  color: #fd6e0a;
  background-color: #fff8f3;
  padding: 18.5px 24px;
  border: 1px solid #fd6e0a;
  border-radius: 5px;
  cursor: pointer;
}
#btn2:hover {
  background-color: #ffe6d9;
  color: #e85c00;
}
#hero .hero-image img {
  max-width: 585px;
  vertical-align: bottom;
}